<!DOCTYPE html>
<html lang="en-CA">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='water.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <script src="{{ url_for('static', filename='htmx.min.js') }}"></script>
  <script defer src="{{ url_for('static', filename='custom.js') }}"></script>
  <script defer data-domain="emoji-summarizer.simpsonian.ca" src="https://treebeard.tailaf9b3.ts.net:8443/js/script.js"></script>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>&#x1F60E;</text></svg>">
  <title>Emoji Summarizer</title>
</head>

<body>
  <header>
      <h1>Emoji Summarizer &#x1F60E;</h1>
  </header>
  <main>
      {% block content %} {% endblock %}
  </main>
</body>

</html>
