{% extends "base.html" %}

{% block content %}
<p>Words are pass&#233;. Let's figure out what you <em>really</em> mean.</p>
<div id="input">
<form action="/summarize" method="post">
    <label for="input-text">Input</label>
    <input type="text" id="input-text" name="text" placeholder="What do you want to summarize?" value="{{ default_input }}">
    <label for="temperature">Spiciness</label>
    <input type="range" id="temperature" name="temperature" min="0" max="1" step="0.1" value="0.6">
    <button hx-post="/summarize" hx-trigger="click" hx-target="#result" hx-swap="innerHTML" hx-indicator="#output" type="submit">Summarize</button>
</form>
</div>
<div id="output">
    <label for="result">Summarized</label>
    <textarea id="result" rows="1" style="resize:none" readonly>Submit a request above to get started.</textarea>
    <!-- Did I just paste the entire SVG spinner here?
        ...yeah don't worry about it -->
    <div>
    <svg class="htmx-indicator" width="120" height="30" viewBox="0 0 120 30" xmlns="http://www.w3.org/2000/svg" fill="#000000">
        <circle cx="15" cy="15" r="15">
            <animate attributeName="r" from="15" to="15"
                     begin="0s" dur="0.8s"
                     values="15;9;15" calcMode="linear"
                     repeatCount="indefinite" />
            <animate attributeName="fill-opacity" from="1" to="1"
                     begin="0s" dur="0.8s"
                     values="1;.5;1" calcMode="linear"
                     repeatCount="indefinite" />
        </circle>
        <circle cx="60" cy="15" r="9" fill-opacity="0.3">
            <animate attributeName="r" from="9" to="9"
                     begin="0s" dur="0.8s"
                     values="9;15;9" calcMode="linear"
                     repeatCount="indefinite" />
            <animate attributeName="fill-opacity" from="0.5" to="0.5"
                     begin="0s" dur="0.8s"
                     values=".5;1;.5" calcMode="linear"
                     repeatCount="indefinite" />
        </circle>
        <circle cx="105" cy="15" r="15">
            <animate attributeName="r" from="15" to="15"
                     begin="0s" dur="0.8s"
                     values="15;9;15" calcMode="linear"
                     repeatCount="indefinite" />
            <animate attributeName="fill-opacity" from="1" to="1"
                     begin="0s" dur="0.8s"
                     values="1;.5;1" calcMode="linear"
                     repeatCount="indefinite" />
        </circle>
    </svg>
    </div>
    <button type="button" onclick="copySummary()">Copy</button>
    <span id="copied-tooltip" class="tooltiptext" style="visibility:hidden">Copied!</span>
</div>
{% endblock content %}
